@use "sass:math";

// colors

$black: #000000 !default;
$white: #ffffff !default;
$transparent: transparent;

$gray-0: #8E8E93;
$gray-2: #AEAEB2;
$gray-3: #C7C7CC;
$gray-4: #D1D1D6;
$gray-5: #E5E5EA;
$gray-6: #F2F2F7;
$gray-7: #FCFCFC;
$gray-8: #f1f1f1;

$body-bg: #ffffff;
$body-color: #333333;

$color-default: $body-color;
$color-brand: #00305B;
$color-primary: #009FE3;
$color-primary-hover: #33B2E9;

$color-danger: #FF3B30;
$color-success: #34C759;
$color-muted: $gray-0;
$color-hr: $gray-5;
$color-sub: $gray-3;

$box-bg: $gray-6;
$box-bg-hover: $gray-5;

//

$form-border: $gray-3;
$form-border-hover: $color-default;
$form-border-focus: $color-primary;
$form-placeholder-color: $gray-3;

//

$btn-outline-muted-border: $gray-3;
$btn-outline-muted-color: $color-default;
$btn-outline-muted-background: $transparent;

$btn-primary-color: $white;
$btn-primary-background: $color-primary;
$btn-primary-background-hover: $color-primary-hover;

//

$icon-default: $gray-0;
$icon-default-hover: $color-default;
$font-weight-bold--default: 500;

//

$line-height-base: 1.2;

//

$link-color: $color-primary !default;
$link-decoration: underline !default;
$link-hover-color: $color-primary-hover !default;
$link-hover-decoration: none !default;

//

$spacer-x: 16px;

$spacer: 16px !default;
$spacers: (
  0: 0,
  1: rfs-value($spacer * .25),  // 4
  2: rfs-value($spacer * .5),   // 8
  3: rfs-value($spacer * 1),    // 16
  4: rfs-value($spacer * 1.5),  // 24
  5: rfs-value($spacer * 2),    // 32
  6: rfs-value($spacer * 2.5),  // 40
  7: rfs-value($spacer * 4),    // 64
  8: rfs-value($spacer * 5),    // 80
  9: rfs-value($spacer * 5.75), // 92
 10: rfs-value($spacer * 6.75), // 108
) !default;

//

$box-shadow: 0 0 rfs-value($spacer-x) rgba(0, 0, 0, .25);
$box-shadow-default: 0 rfs-value($spacer * .25) rfs-value($spacer * 3) rgba(0, 0, 0, .15);
$box-shadow-popover: 0 rfs-value($spacer) rfs-value($spacer * 2) rgba(0, 0, 0, .1);

//

$filter-white: brightness(0) saturate(100%) invert(86%) sepia(56%) saturate(2%) hue-rotate(176deg) brightness(107%) contrast(101%);
$filter-black: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%) hue-rotate(265deg) brightness(86%) contrast(106%);
$filter-default: brightness(0) saturate(100%) invert(13%) sepia(0%) saturate(1120%) hue-rotate(158deg) brightness(104%) contrast(82%);
$filter-primary: brightness(0) saturate(100%) invert(44%) sepia(24%) saturate(3447%) hue-rotate(167deg) brightness(98%) contrast(101%);
$filter-danger: brightness(0) saturate(100%) invert(27%) sepia(72%) saturate(1825%) hue-rotate(339deg) brightness(115%) contrast(105%);
$filter-success: brightness(0) saturate(100%) invert(58%) sepia(91%) saturate(381%) hue-rotate(83deg) brightness(93%) contrast(87%);
$filter-muted: brightness(0) saturate(100%) invert(61%) sepia(2%) saturate(495%) hue-rotate(202deg) brightness(92%) contrast(86%);
$filter-brand: brightness(0) saturate(100%) invert(14%) sepia(30%) saturate(4734%) hue-rotate(192deg) brightness(90%) contrast(101%);
$filter-hr: brightness(0) saturate(100%) invert(97%) sepia(3%) saturate(220%) hue-rotate(201deg) brightness(93%) contrast(98%);
$filter-primary-hover: brightness(0) saturate(100%) invert(62%) sepia(47%) saturate(1712%) hue-rotate(166deg) brightness(97%) contrast(88%);
$filter-gray: brightness(0) saturate(100%) invert(59%) sepia(6%) saturate(211%) hue-rotate(202deg) brightness(95%) contrast(87%);
$filter-gray-4: brightness(0) saturate(100%) invert(93%) sepia(7%) saturate(118%) hue-rotate(201deg) brightness(92%) contrast(86%);

//

$default-font-size: (
  h1: (
    size: 96px,
    height: 96px,
  ),

  'h1-history': (
    size: 56px,
    height: 60px,
  ),

  'h2-title': (
    size: 64px,
    height: 76px,
  ),

  h2: (
    size: 36px,
    height: 43px,
  ),

  h3: (
    size: 34px,
    height: 38px,
  ),

  h4: (
    size: 28px,
    height: 38px,
  ),

  h5: (
    size: 24px,
    height: 28px,
  ),

  h6: (
    size: 16px,
    height: 20px,
  ),

  p: (
    size: 20px,
    height: 28px,
  ),

  big: (
    size: 80px,
    height: 80px,
  ),

  small: (
    size: 12px,
    height: 14px,
  ),

  sup: (
    size: 12px,
    height: 14px,
  ),
);

$font-size-base:    get_font_size('p') !default;
$code-font-size:    get_font_size('p') !default;

$h1-font-size:      get_font_size('h1') !default;
$h2-font-size:      get_font_size('h2') !default;
$h3-font-size:      get_font_size('h3') !default;
$h4-font-size:      get_font_size('h4') !default;
$h5-font-size:      get_font_size('h5') !default;
$h6-font-size:      get_font_size('h6') !default;

$small-font-size:   get_font_size('small') !default;
$sub-sup-font-size: get_font_size('sup') !default;

$legend-font-size:  get_font_size('p') !default;

// bs vars

$prefix:                      v- !default;
$font-size-root: $rfs-rem-value + 'px' !default;

//

$transition-base:   all .25s ease-in-out !default;
$transition-fade:   opacity .25s linear !default;

//

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
    xxxl: 1840px,
    wide: 1920px
) !default;

$grid-columns:      12 !default;
$grid-gutter-width: rfs-value($spacer-x * 2) !default;
$grid-row-columns:  6 !default;

$gutters: $spacers !default;

$container-max-widths: (
    //md: 768px,
    //lg: 992px,
    //xl: 1200px,
    //xxl: 1400px
   xxxl: 1832px
) !default;

$container-padding-x: rfs-value($spacer-x * 4);

$border-radius:     rfs-value($spacer) !default;
$border-radius-sm:  rfs-value($spacer * .5) !default;
$border-radius-xs:  rfs-value($spacer * .25) !default;

$border-style:    solid !default;
$border-width:    1px !default;
$border-color: $color-hr !default;
$border-color-translucent:    rgba($body-color, .25) !default;

$hr-border-color:             null !default; // Allows for inherited colors
$hr-border-width:             $border-width !default;
$hr-margin-y: rfs-value($spacer) !default;
$hr-color: $color-hr !default;
$hr-opacity: 1 !default;
$hr-height: 1px !default;

$enable-smooth-scroll: false !default;
$enable-rounded: true !default;
$enable-transitions:          true !default;
$enable-reduced-motion:       true !default;
$enable-button-pointers: true !default;
$enable-cssgrid: false !default;
$enable-grid-classes: true !default;
$enable-important-utilities: true !default;
$enable-gradients: false !default;
$enable-shadows: true !default;
$enable-container-classes:    true !default;

$body-bg: #ffffff !default;
$body-color: #000000 !default;
$body-text-align: left !default;

$font-family-base:      "Golos", "Golos Text", Arial, "sans-serif" !default;
$font-family-header:    "Golos", "Golos Text", Arial, "sans-serif" !default;

$font-family-sans-serif:$font-family-base !default;
$font-family-serif:     "Times New Roman", "serif" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-code:      $font-family-monospace !default;

$font-weight-base: 400 !default;
$line-height-base: 1.2 !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-medium:          500 !default;
$font-weight-semibold:        600 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$pre-color: $body-color !default;
$code-color: $body-color !default;

$headings-margin-bottom: rfs-value($spacer) !default;
$headings-font-family: $font-family-header !default;
$headings-font-style: null !default;
$headings-font-weight: $font-weight-bold !default;
$headings-line-height: $line-height-base !default;
$headings-color: $body-color !default;

$paragraph-margin-bottom: rfs-value($spacer) !default;

$dt-font-weight:              $font-weight-bold !default;

$mark-padding:                .2em !default;
$mark-bg:                     #fcf8e3 !default;

$kbd-padding-y:                     rfs-value($spacer) !default;
$kbd-padding-x:                     rfs-value($spacer-x) !default;
$kbd-font-size:                     $code-font-size !default;
$kbd-color:                         $white !default;
$kbd-bg:                            $body-color !default;

$nested-kbd-font-weight: $font-weight-bold !default;

$table-cell-padding-y:        rfs-value(5px) !default;
$table-cell-padding-x:        rfs-value(10px) !default;
$table-cell-padding-y-sm:     rfs-value(5px) !default;
$table-cell-padding-x-sm:     rfs-value(10px) !default;

$table-caption-color: $body-color !default;
$table-th-font-weight: $font-weight-bold !default;

$legend-margin-bottom:        rfs-value($spacer) !default;
$legend-font-weight:          null !default;

// width

$w-8: 8.33333333%;
$w-16: 16.66666667%;
$w-25: 25%;
$w-33: 33.33333333%;
$w-41: 41.66666667%;
$w-50: 50%;
$w-58: 58.33333333%;
$w-66: 66.66666667%;
$w-75: 25%;
$w-83: 83.33333333%;
$w-91: 91.66666667%;
$w-100:100%;


















