$rfs-base-value: 0.75rem !default;
$rfs-unit: rem !default;
$rfs-rem-value: 16 !default;

$rfs-breakpoint: 1700px;

//

@import "../../../node_modules/bootstrap/scss/vendor/rfs";

//

@import "../../../node_modules/bootstrap/scss/functions";
@import "fn/_";
@import "fn/bs";

//

@import "variables";

//

@import "../../../node_modules/bootstrap/scss/mixins/border-radius";
//@import "../../../node_modules/bootstrap/scss/mixins/transition";
@import "../../../node_modules/bootstrap/scss/mixins/reset-text";
@import "../../../node_modules/bootstrap/scss/mixins/lists";
@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../node_modules/bootstrap/scss/mixins/container";
@import "../../../node_modules/bootstrap/scss/mixins/grid";
@import "../../../node_modules/bootstrap/scss/mixins/utilities";
@import "../../../node_modules/bootstrap/scss/mixins/text-truncate";
@import "../../../node_modules/bootstrap/scss/mixins/box-shadow";
@import "../../../node_modules/bootstrap/scss/mixins/image";

//

@import "bs5.custom/root";
@import "bs5.custom/reboot";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/containers";

// utilities

@import "bs5.custom/utilities";
@import "../../../node_modules/bootstrap/scss/utilities/api";

//

@import "mixins/_";
@import "mixins/clearfix";
@import "mixins/transition";
@import "mixins/hover";
@import "mixins/custom";

//

@import "extend";

@import "ic";

@import "b-badge";
@import "b-box";
@import "b-box_list";
@import "b-btn";
@import "b-btn_round";
@import "b-checkbox";
@import "b-contacts";
@import "b-content";
@import "b-direction_index";
@import "b-events";
@import "b-footer";
@import "b-gallery";
@import "b-header_history";
@import "b-header_index";
@import "b-history";
@import "b-history_inner";
@import "b-history_list";
@import "b-history_top";
@import "b-info_number";
@import "b-input";
@import "b-layout";
@import "b-links";
@import "b-menu_burger";
@import "b-menu_fixed";
@import "b-menu_header";
@import "b-menu_nav";
@import "b-menu_over";
@import "b-menu_search";
@import "b-news_header";
@import "b-news_list";
@import "b-popper";
@import "b-popper_select";
@import "b-popup_news";
@import "b-promo";
@import "b-radio";
@import "b-search_line";
@import "b-slider_control";
//@import "b-tab";
@import "b-tags_content";
@import "b-tags_text";
@import "b-text_link";
@import "b-unitlist";
@import "b-video";
@import "form";

//

@include tags-header() {
  @include font-weight($font-weight-bold--default)
}

.h1 {@include font-size($h1-font-size);}
.h2 {@include font-size($h2-font-size);}
.h3 {@include font-size($h3-font-size);}
.h4 {@include font-size($h4-font-size);}
.h5 {@include font-size($h5-font-size);}
.h6 {@include font-size($h6-font-size);}
.sup,.sub {@include font-size(get_font_size('sup'));}
.small {@include font-size(get_font_size('small'));}

big,
.big {@include font-size(get_font_size('big'));}

p,
.p {@include font-size(get_font_size('p'));}

h1  {@include font('h1');}
h2  {@include font('h2');}
h3  {@include font('h3');}
h4  {@include font('h4');}
h5  {@include font('h5');}
h6  {@include font('h6');}
p   {@include font('p');}

h1,
.h1 {
  // mobile hack
  @include media-breakpoint-only('xs') {
    font-size: calc(0.9rem + 1.2705882353vw);
    line-height: calc(0.94375rem + 1.6411764706vw);
  }
}

//

.container-offset {
  position: relative;

  @include media-breakpoint-up('xl') {
    //margin-left: rfs-value($spacer-x * 1.5 * 2 + 32px);
    margin-left: rfs-value(76px);
    border: 0;
    border-left: 1px solid $color-default;

    &.content-light {
      border-left-color: $color-hr;
    }

    &.content-dark {
      border-left-color: $white;
    }
  }
}

.container,
.container-fluid,
.container-xxxl {
  @extend %container-start;
  @extend %container-end;
}

//

.html-scroll-lock {
  overflow: hidden;
  height: 100%;

  &__bar {
    background: $color-hr;
    position: fixed;
    top: 0; bottom: 0;
    right: 0;
  }
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  position: relative;
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  overflow: hidden;

  & > main {
    //display: flex;
    //align-items: stretch;

    flex-grow: 1;
    width: 100%;
  }

  & > header,
  & > footer {
    width: 100%;
  }
}

.hr {
  border: 0;
  border-top: 1px solid $color-hr;

  margin: 0;
  @include margin-32-40-56;
}

.clearfix {
  @extend %clearfix;
}

.overall {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 20;
}

.text {
  &-muted {
    color: $color-muted !important;
  }

  &-decoration-underline {
    text-decoration: underline !important;
  }
}

.row-half {
  --v-gutter-x: #{rfs-value($spacer)};
  --v-gutter-y: #{rfs-value(0)};
}
