$rfs-base-value: 0.75rem !default;
$rfs-unit: rem !default;
$rfs-rem-value: 16 !default;

$rfs-breakpoint: 1700px;

//

@import "../../../node_modules/bootstrap/scss/vendor/rfs";

//

@import "../../../node_modules/bootstrap/scss/functions";
@import "fn/_";
@import "fn/bs";

//

@import "variables";

//

@import "../../../node_modules/bootstrap/scss/mixins/border-radius";
//@import "../../../node_modules/bootstrap/scss/mixins/transition";
@import "../../../node_modules/bootstrap/scss/mixins/reset-text";
@import "../../../node_modules/bootstrap/scss/mixins/lists";
@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../node_modules/bootstrap/scss/mixins/container";
@import "../../../node_modules/bootstrap/scss/mixins/grid";
@import "../../../node_modules/bootstrap/scss/mixins/utilities";
@import "../../../node_modules/bootstrap/scss/mixins/text-truncate";
@import "../../../node_modules/bootstrap/scss/mixins/box-shadow";
@import "../../../node_modules/bootstrap/scss/mixins/image";

//

@import "mixins/_";
@import "mixins/clearfix";
@import "mixins/transition";
@import "mixins/hover";
@import "mixins/custom";

//

$color-f--bg--light: #ECF2FA;
$color-f--bg--dark: #005396;
$color-f--bg--btn-primary: #0A5D9C;
$color-f--bg--blob-primary: #cef0ef;
$color-f--bg--blob-success: #30B5B2;
$color-f--bg--hr: #8FA2C3;
$color-f--btn--outline: #76B1E8;
$color-f--text--default: #171B26;
$color-f--text--secondary: #5F5F5F;
$color-f--text--muted: #70807F;
$color-f--text--success: #37A7A4;
$color-f--text--highlight: #00809D;
$color-f--text--link: #327EC5;
$color-f--text--invert: #FFFFFF;
$color-f--text--invert-muted: #b3cce0;
$color-f--text--invert-alert: #6DD6D3;

$spacer: 1rem;
$spacer-x: 1.25 * $spacer;
$spacer-y: 1rem;

// r,m,b,sb
// h1 - 54 / 1.15
// h1 - 50 / 1.15
// h2 - 46 / 1.25
// h3 - 30 / 1.35
// h4 - 28 / 1.35
// h5 - 26 / 1.35
// h6 - 24 / 1.35
// p - 22 / 1.35
// small - 20 / 1.45

#layout-family {
  font-family: "Inter", Arial, sans-serif;

  @include tags-text() {
    font-family: inherit;
  }
}

@import "b-f-blob";
@import "b-f-btn";
@import "b-f-cell-grid";
@import "b-f-round-icon";
@import "b-f-section";
@import "b-f-section-addons";
@import "b-f-section-adv";
@import "b-f-section-check";
@import "b-f-section-header";
@import "b-f-section-howto";
@import "b-f-section-info";
@import "b-f-section-interest";
@import "b-f-section-whats";

